<h2>Infomations</h2>
<div class="well">
  <div id="tb-index">
    <table class="table table-striped" id="tbcenter">
      <thead>
        <tr>
          <th>#</th>
          <th>Fullname</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Skill</th>
          <th>Address</th>
          <th>Salary</th>
          <th>Chat</th>
        </tr>
      </thead>
      <tbody>
				<% @user_find.each_with_index do |u, index| %>
					<tr>
						<td><%= index+1 %></td>
						<td><%= u.fullname %></td>
						<td><%= u.email %></td>
						<td><%= u.phone %></td>
						<td><%= u.skill %></td>
            <td><%= u.address %></td>
						<td><%= u.salary %></td>
						<td><%= link_to 'Go Conversations', conversations_path %></td>					
					</tr>
				<% end %>
      </tbody>
    </table>
  </div>
</div>