<div id="content">
    <div class="tabconten">
    	<div id="wizard" style="height: 100%; width: 100%;">
            <h2>Thoi su</h2>
                <section>
                    <p><%= yield %></p>
                </section>

                <h2>The gioi</h2>
                <section>
                    <p><%= yield %>
                        </p>
                </section>

                <h2>Kinh doanh</h2>
                <section>
                    <p><%= yield %>
                       </p>
                </section>

                <h2>Giai tri</h2>
                <section>
                    <p><%= yield %>
                        </p>
                </section>

                <h2>The thao</h2>
                <section>
                    <p><%= yield %>
                        </p>
                </section>

                <h2>Phap luat</h2>
                <section>
                    <p><%= yield %>
                        </p>
                </section>

                <h2>Giao duc</h2>
                <section>
                    <p><%= yield %> 
                        </p>
                </section>

                <h2>Suc khoe</h2>
                <section>
                    <p><%= yield %>
                        </p>
                </section>
               
        </div>
	</div>
</div>