<%= form_for(@post, :html => { :class => "form-horizontal post", :id => "new_post" }) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
          </div>
            <div class="panel-body">
              <ul>
              <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :title, :class => 'form-control', :placeholder => "My job", :required => true %>
          </div>
            </div>
            <div class="form-group">
          <%= f.label :body, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
      <%= f.text_area :body, :class => 'form-control', :placeholder => "Awesome body", :required => true %>
    </div>
  </div>

 
  <div class="form-group">    
    <%= f.label :skill, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :skill, :class => 'form-control', :placeholder => "English, PHP, web ...", :required => true %>
          </div>       
            <%= f.label :categories, :class => 'control-label col-lg-2' %>    
          <div class="col-lg-4">
      <%= select_tag :categories, options_from_collection_for_select(Category.all, "categories", "categories", params[:categories]), :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :location, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= select_tag :location, options_from_collection_for_select(Location.all, "location", "location", params[:location]), :class => 'form-control' %>
          </div>
          <%= f.label :position, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
      <%= select_tag :position, options_from_collection_for_select(Position.all, "position", "position", params[:position]), :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-lg-2' %>    
      <div class="col-lg-4">
        <%= f.text_field :phone, :class => 'form-control', :placeholder => "Enter phone number", :required => true %>
          </div>
          <%= f.label :salary, :class => 'control-label col-lg-2' %>          
        <div class="col-lg-4">
      <%= f.text_field :salary, :class => 'form-control', :placeholder => "Enter salary", :required => true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :published, :class => 'control-label col-lg-2' %>    
      <div class="col-lg-4">
        <%= f.check_box :published %> True/False
          </div>
          <%= f.label :map, :class => 'control-label col-lg-2' %>       
        <div class="col-lg-4">
      <%= f.file_field :map %>     
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      posts_path, :class => 'btn btn-default' %>
    </div>
  </div>  
  
<% end %>
