<%- model_class = Post -%>
<dl class="dl-horizontal" id="dhheader">
  <div class="list-group-item fontawesome-icon-list">
    <div class="clearfix" style="text-align:center;">
      <h1>Map</h1>
      <%= image_tag(@post.map.lg_map)%>
    </div>
  </div>
</dl>

<dl class="dl-horizontal" id="dhabout">
  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <% posts_user = @post.user%>
      <%= image_tag(@post.logo, :size => "100x120") %>
    </dt>
    <dd>
      <div class="item-content">
        <b><%= @post.company %> Company</b></br>         
        <%= @post.about %>
      </div> 
    </dd>
  </div>
</dl>

<dl class="dl-horizontal" id="dlhrz">
  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <div class="item-icon">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x fa-gray"></i> <i class="fa fa-dollar fa-stack-1x"></i><span class="mdname"><%= model_class.human_attribute_name(:title) %>:</span>   
        </span>    
      </div>
    </dt>
    <dd>
      <div class="item-content">         
        <%= @post.title %>         
      </div> 
    </dd>
  </div>
  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <div class="item-icon">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x fa-gray"></i> <i class="fa fa-dollar fa-stack-1x"></i><span class="mdname"><%= model_class.human_attribute_name(:body) %>:</span>   
        </span>    
      </div>
    </dt>
    <dd>
      <div class="item-content">         
        <%= @post.body %>         
      </div> 
    </dd>
  </div>
  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <div class="item-icon">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x fa-gray"></i> <i class="fa fa-dollar fa-stack-1x"></i><span class="mdname"><%= model_class.human_attribute_name(:created_at) %>:</span>   
        </span>    
      </div>
    </dt>
    <dd>
      <div class="item-content">         
        <%= @post.created_at %>         
      </div> 
    </dd>
  </div>
  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <div class="item-icon">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x fa-gray"></i> <i class="fa fa-dollar fa-stack-1x"></i><span class="mdname"><%= model_class.human_attribute_name(:published) %>:</span>   
        </span>    
      </div>
    </dt>
    <dd>
      <div class="item-content">         
        <%= @post.published %>         
      </div> 
    </dd>
  </div>
  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <div class="item-icon">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x fa-gray"></i> <i class="fa fa-dollar fa-stack-1x"></i><span class="mdname"><%= model_class.human_attribute_name(:categories) %>:</span>   
        </span>    
      </div>
    </dt>
    <dd>
      <div class="item-content">         
        <%= @post.categories %>         
      </div> 
    </dd>
  </div>
  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <div class="item-icon">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x fa-gray"></i> <i class="fa fa-dollar fa-stack-1x"></i><span class="mdname"><%= model_class.human_attribute_name(:location) %>:</span>   
        </span>    
      </div>
    </dt>
    <dd>
      <div class="item-content">         
        <%= @post.location %>         
      </div> 
    </dd>
  </div>

  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <div class="item-icon">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x fa-gray"></i> <i class="fa fa-dollar fa-stack-1x"></i><span class="mdname"><%= model_class.human_attribute_name(:position) %>:</span>   
        </span>    
      </div>
    </dt>
    <dd>
      <div class="item-content">         
        <%= @post.position %>         
      </div> 
    </dd>
  </div>
  
  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <div class="item-icon">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x fa-gray"></i> <i class="fa fa-dollar fa-stack-1x"></i><span class="mdname"><%= model_class.human_attribute_name(:skill) %>:</span>   
        </span>    
      </div>
    </dt>
    <dd>
      <div class="item-content">         
        <%= @post.skill %>         
      </div> 
    </dd>
  </div>

  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <div class="item-icon">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x fa-gray"></i> <i class="fa fa-dollar fa-stack-1x"></i><span class="mdname"><%= model_class.human_attribute_name(:phone) %>:</span>   
        </span>    
      </div>
    </dt>
    <dd>
      <div class="item-content">         
        <%= @post.phone %>         
      </div> 
    </dd>
  </div>

  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <div class="item-icon">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x fa-gray"></i> <i class="fa fa-dollar fa-stack-1x"></i><span class="mdname"><%= model_class.human_attribute_name(:company) %>:</span>   
        </span>    
      </div>
    </dt>
    <dd>
      <div class="item-content">         
        <%= @post.company %>         
      </div> 
    </dd>
  </div>

  <div class="list-group-item fontawesome-icon-list">
    <dt>
      <div class="item-icon">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x fa-gray"></i> <i class="fa fa-dollar fa-stack-1x"></i><span class="mdname"><%= model_class.human_attribute_name(:salary) %>:</span>   
        </span>    
      </div>
    </dt>
    <dd>
      <div class="item-content">         
        <%= @post.salary %>         
      </div> 
    </dd>
  </div>

</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn btn-default'  %>

<% if cannot? :update, @post %>
<%= link_to t('.apply', :default => t("helpers.links.apply")),
              apply_post_path, :class => 'btn btn-primary' %>
<% end %>

<% if can? :update, @post %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_post_path(@user, @post), :class => 'btn btn-default' %>
<% end %>

<% if can? :destroy, @post %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_post_path(@user, @post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>


