<!DOCTYPE html>
<html>
<head>
  <title>Demo App Vnwork</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header' %>
<%= render 'shared/banner' %>
<%= render 'shared/main' %>
<% if can? :searchuser, User %>
	<%= render 'shared/search' %>
<% end %>
<div id="content">	
	<section>
    <%= yield %>
  </section>
</div>
<%= render 'shared/footer' %>
</body>
</html>
